.collage {
    display: inline-grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    width: 30rem;
    justify-content: center;
}

.collage-img {
    grid-area: 1 / 1 / 1 / 1;
    display: block;
    position: relative;
    max-width: 30rem;
    max-height: 30rem;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 1rem;
    z-index: 1;
    border: 3px solid var(--img-border-colour);
}

.main-collage {
    z-index: 0;
}

.left-collage, .right-collage {
    max-width: 15rem;
    max-height: 15rem;
    aspect-ratio: unset;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
    .collage-img {
        max-width: 75vw;
        max-height: unset;
    }
    .left-collage, .right-collage {
        max-width: 30vw;
    }
}

@media (max-width: 320px) {

}