.content-box {
    justify-content: center;
    transform: translateY(-12%);
    max-width: 30rem;
}

.content-box-header {
    position: relative;
    justify-content: space-between;
    top: 12%;
}

.content-box-logo {
    height: 7rem;
    transform: translateY(-0.8rem);
}

.content-box-header .subtitle {
    align-self: center;
    text-align: right;
    margin: 0;
}

.content-box .text {
    background: var(--bg-box-colour);
    border-radius: 1rem;
    padding: 3rem var(--margin-xl) var(--margin-xl);
    margin: 0;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
    .content-box {
        max-width: 80vw
    }
    .content-box-logo {
        height: 5rem;
    }
}

@media (max-width: 320px) {

}