.admin-container {
    background-color: var(--dash-header-bg-colour);
}

.header {
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    gap: 0.5rem;
}

.header-container {
    gap: var(--margin-m);
}

.m-logo {
    height: 5rem;
}

.header-title-container {
    justify-content: center;
    gap: var(--margin-xxs);
}

.header-subtitle {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 0;
    text-transform: none;
    color: var(--dash-header-h2-colour);
}

.header-heading {
    font-size: 1.7rem;
    line-height: 1.7rem;
    color: var(--dash-header-h1-colour);
    margin: 0;
    text-transform: capitalize;
}

.logout-btn {
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-weight: 700;
}

.logout-btn:hover {
    background-color: var(--btn-31-colour);
    color: var(--btn-30-colour);
    transition: all 0.2s ease;
}

.dash-container {
    display: inline-grid;
    justify-content: flex-start;
    height: calc(100vh - 7rem);
    grid-template-columns: 15rem 1fr;
}

.sidebar {
    justify-content: space-between;
    align-items: stretch;
    padding: 1rem 0;
    background-color: var(--dash-sidebar-bg-colour);
}

.sidebar-buttons {
    gap: 1.2rem;
}

.sidebar-link {
    border-radius: 0 0.5rem 0.5rem 0;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.5rem 0.7rem;
    margin: 0;
    align-self: flex-start;
    width: 85%;
}

.sidebar-link:not(.current):hover {
    width: 100%;
    padding: 0.5rem 0;
    transition: all 0.2s ease;
}

.current {
    background: var(--btn-31-colour);
    color: var(--btn-30-colour);
    width: 100%;
    font-size: 1.1rem;
    padding: 0.7rem 0;
}

.credit {
    text-align: center;
    margin: 0 0.5rem;;
    font: var(--p);
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: var(--footer-author-colour);
}

.author {
    font-style: italic;
    cursor: pointer;
}

.author:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.page-container {
    height: 100%;
    background-color: var(--dash-bg-colour);
}

@media (max-width: 320px) {
}

@media (max-width: 480px) {
.header {
    height: 4rem;
    padding: 0.25rem 1rem;
    width: auto;
}

.m-logo {
    height: 2.5rem;
}

.header-container {
    gap: var(--margin-xs);
}

.header-subtitle {
    font-size: 0.75rem;
    line-height: 0.75rem;
}

.header-heading {
    font-size: 1.2rem;
    line-height: 1rem;
}

.logout-btn {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.5rem;
    background-image: url("/img/exit.svg");
    background-size: 90%;
    background-position: 0% center;
    background-repeat: no-repeat;
}

.dash-container {
    height: calc(100vh - 4.5rem);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.sidebar {
    flex-direction: row;
    padding: 0;
}

.sidebar-buttons {
    flex-direction: row;
    padding: 0 1rem;
    width: 100%;
    justify-content: space-between;
}

.sidebar-link {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    color: var(--dash-sidebar-mobile-bg-colour);
    font-size: 0.75rem;
    line-height: 0.75rem;
    padding: 0.7rem;
    width: auto;
}

.current {
    color: var(--dash-sidebar-mobile-current-colour);
}

.sidebar-svg {
    width: 2rem;
    aspect-ratio: 1/1;
    fill: var(--dash-sidebar-mobile-bg-colour);
}

.current-svg {
    fill: var(--dash-sidebar-mobile-current-colour);
}

.page-container {
    border-radius: var(--radius-m) var(--radius-m) 0 0;
    filter: drop-shadow(0px 1px 3px var(--drop-shadow-colour));
}

.sidebar-link:not(.current):hover {
    transition: none !important;
    padding: 0.7rem;
    width: auto;
}
}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}
@media (max-width: 1200px) {

}
