.page-container {
    padding: var(--margin-m);
}

.title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: var(--margin-xs) var(--margin-s);
    margin: 0 0 1rem 0;
    color: var(--dash-h1-colour);
    background-color: var(--dash-bg-h1-colour);
    border-radius: var(--radius-s);
}

.home-container {
    gap: 1rem;
    flex-wrap: wrap;
}

@media (max-width: 480px) {
.home-container {
    flex-direction: column;
    align-items: center;
}
}

