.landing-container {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    margin: 5% auto;
    max-width: 1400px;
    width: 90%;
}

.hero-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 0 15px;
    margin: 0 auto;
}

.hero-img {
    width: 25rem;
}

.title-container::after {
    position: relative;
    content: url("/img/badminton-racket.svg");
    display: block;
    width: 30rem;
    top: 5rem;
    right: 30%;
}

.accent {
    color: var(--accent-colour);
}

.content {
    margin: 5rem auto;
}
.content-container {
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10vw;
    margin: 8rem 0;
}

.hidden-container {
    opacity: 0;
    transition: all 0.4s;
}

.show-container {
    opacity: 1;
}

.container-reverse {
    flex-direction: row-reverse;
}

.ending {
    justify-content: center;
    margin: 0 0 5vh 0;
}

.landing-ending {
    color: var(--txt-join-colour);
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}


@media (max-width: 1200px) {
    .jumbo {
        padding: 0 var(--xl-padding);
        gap: 0;
    }
    .title-container::after {
        left: unset;
        top: 12rem;
        right: 12%;
        width: 35vw;
    }
    .jumbo-img {
        margin-left: auto;
    }
    .content-container {
        justify-content: space-between;
        row-gap: 6vh;
        margin: 10vw;
    }
    .content-block {
        margin-left: auto;
        margin-top: 5rem;
    }
    .content-block-reverse {
        margin-right: auto;
        margin-top: 5rem;
    }
}

@media (max-width: 992px) {
    .content-container {
        justify-content: center;
        margin: 0;
    }
    .content-block {
        margin: 0;
    }
    .content-block-reverse {
        margin: 0;
    }
    .landing-ending {
        max-width: 80%;
    }
}

@media (max-width: 768px) {
    .title-container::after {
        top: 9rem;
    }
    .jumbo {
        padding: 0 var(--s-padding);
    }
    .title {
        font-size: 3.2rem;
        line-height: 4.5rem;
    }
    .jumbo-img {
        width: 60vw;
    }
}

@media (max-width: 480px) {

}

@media (max-width: 320px) {

}