@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/dubai');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    /* font */
    font-size: 18px;
    --m-font-size: 16px;

    /* margins or padding */
    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;
    --margin-xxxl: 3.25rem;

    /* border radius */
    --radius-xs: .5rem;
    --radius-s: .75rem;
    --radius-m: 1rem;
    --radius-l: 1.25rem;
    --radius-xl: 1.75rem;

    /* dash colours */
    --dash-bg-colour: #FAFAFA;
    --dash-bg-h1-colour: #A0BCA3;
    --dash-bg-box-colour: #FFFFFF;
    --dash-header-bg-colour: #415944;
    --dash-header-h1-colour: #FAFAFA;
    --dash-header-h2-colour: #BACDC0;
    --dash-sidebar-bg-colour: #FFFFFF;
    --dash-sidebar-mobile-bg-colour: #C9D2C8;
    --dash-sidebar-mobile-current-colour: #769079;
    --dash-h1-colour: #FAFCF9;
    --dash-txt-colour: #434742;

    /* colours */
    --accent-colour: #344E41;
    --bg-10-colour: #F0F8EF;
    --bg-20-colour: #FAFCF9;
    --bg-box-colour: #FAF7ED;
    --bg-form-colour: #FFFEF6;
    --bg-formbox-colour: #FFFFFF;
    --bg-field-colour: #F8FAF7;
    --bg-field-focus-colour: #EFF3EE;
    --drop-shadow-colour: hsl(100 35% 30% / 0.3);
    --txt-colour: #3e4236;
    --txt-field-colour: #3E423F;
    --txt-join-colour: #A3B9A0;
    --title-colour: #212921;
    --subtitle-colour: #212921;
    --subtitle-form-colour: #687A63;
    --btn-10-colour: #3A5A40;
    --btn-11-colour: #344E41;
    --btn-20-colour: #C3D1C7;
    --btn-21-colour: #B0BDB4;
    --btn-30-colour: #CFDCD0;
    --btn-31-colour: #415944;
    --btn-txt-colour: #F9FFF8;
    --img-border-colour: #535356;
    --field-border-colour: #E8E8E8;
    --field-hover-border-colour: #B1BBB0;
    --field-focus-border-colour: #1d5928;
    --header-footer-bold-colour: #42523E;
    --footer-txt-colour: #ADB9B0;
    --footer-author-colour: #93A193;
    --sep-line-colour: #E8E5DB;
    --grey-txt-colour: #C4CCC4;

    /* padding */
    --side-padding: 20vw;
    --xl-padding: 15vw;
    --s-padding: 10vw;
    --xs-padding: 5vw;

    /* landing */
    --ff: "Open Sans", sans-serif;
    --ff2: "Dubai", sans-serif;
    --a: 700 1rem/1.4rem var(--ff);
    --h1: 900 3.75rem/5.25rem var(--ff);
    --h2: 700 2.75rem/3.5rem var(--ff);
    --h3: 700 2rem/2.5rem var(--ff);
    --p: 400 1rem/1.6rem var(--ff);
    --p-s: 400 0.8rem/1.2rem var(--ff);
    --btn: 500 1rem/1.6rem var(--ff);
    --input: 400 1.1rem/1.75rem var(--ff2);
}

body {
    margin: 0;
}

.button {
    font: var(--btn);
    cursor: pointer;
    border-radius: var(--radius-xs);
    padding: 0.3rem 0.8rem;
    border: none;
    text-align: center;
    text-decoration: none;
}

.primary-button {
    background-color: var(--btn-10-colour);
    color: var(--btn-txt-colour);
}

.secondary-button {
    background-color: var(--btn-20-colour);
    color: var(--btn-txt-colour);
}

.tertiary-button {
    background-color: var(--btn-30-colour);
    color: var(--btn-31-colour);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.m-logo {
    display: inline-block;
    aspect-ratio: 1/1;
    align-self: center;
}

.linkbutton {
    text-decoration: none;
    font: var(--a);
    text-transform: capitalize;
}

.ul-no-dec {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.title {
    color: var(--title-colour);
    font: var(--h1);
    margin: var(--margin-m) 0;
    text-transform: uppercase;
}

.subtitle {
    color: var(--subtitle-colour);
    font: var(--h2);
    text-transform: uppercase;
}

.subhead {
    color: var(--subtitle-colour);
    font: var(--h3);
}

.text {
    color: var(--txt-colour);
    font: var(--p);
    padding: var(--margin-m);
    margin-bottom: var(--margin-m);
}

.text-bold {
    font-weight: 600;
}

.field-label {
    text-transform: none;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 0;
    padding: 0;
}

.field {
    background-color: var(--bg-field-colour);
    border: 1px solid var(--field-border-colour);
    border-radius: var(--radius-s);
    height: 2.5rem;
    font: var(--input);
    color: var(--field-txt-colour);
}

.field:hover {
    border-color: var(--field-hover-border-colour);
}

.field:focus {
    appearance: none;
    outline: none;
    border-color: var(--field-focus-border-colour);
    background-color: var(--bg-field-focus-colour);
}

@media (max-width: 1200px) {
    .landing-header {
        padding: 2rem var(--xl-padding);
    }
    .landing-footer {
        padding: 2rem var(--xl-padding) 1rem;
    }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
    :root {
        font-size: var(--m-font-size);
    }
}

@media (max-width: 320px) {

}